* {
    margin: 0;
    padding: 0;

}

.cabecalho {
    background-color: blue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.navegacao {
    background-color: blueviolet;
}
.secao {
    background-color: brown;
}

.rodape {
    background-color: chartreuse;
}
